* {
  box-sizing: border-box;
  font-family: 'Lucida Sans Unicode', "Lucida Grande", sans-serif;
}
h1 {
  margin-bottom:25px;
  margin-top: 25px;
  text-align: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
h2 {
  text-align: center;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  margin: 0px;
  width: 150px;
  overflow: auto;

  float: right;
}

p {
  width: 95%;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  color: #000000;
  margin-top: 50px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.h2bc1 {
  background-color: #D59898;
}

.h2bc2 {
  background-color: #C14543;
  color: #F5E1E1;
}

.h2bc3 {
  background-color: #E5D198;
}

/********** Large devices only **********/
@media (min-width: 992px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 2px solid black;
    background-color: #999999; 
  }
  .col-lg-4 {
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only *********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    background-color: #999999; 
    border: 2px solid black;
    }
  .col-md-6 {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
  .col-md-12 {
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;
  }
}

/********** Large devices only *********/
@media (max-width: 767px) {
.col-s-1 {
    float: left;
    border: 2px solid black;
    background-color: #999999;
  }

  .col-s-1 {
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 1.5%;
  }
}